/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@font-face {
	font-family: 'Digital-7';
	src: url('digital-7/digital-7\ \(mono\).ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Serif', serif;
	color: #dbdbdb;
	background-color: #252b48;
}

/* Header */
.head {
	background: #445069;
}
/* head 1 */
#head1 {
}
/* head text */
.head-text {
	font-family: 'Montserrat', sans-serif;
}

/* Coloring */
.color {
	width: 15px;
	height: 15px;
	margin: 0 5px;
}
.coloring-container {
	width: 100px;
}
.white {
	background: #dbdbdb;
}
.red {
	background: #ec5858;
}
.blue {
	background: #859ac5;
}
.green {
	background: #7cb9ab;
}

/* List */
#list-showcase {
	background: #445069;
}
.list-group-item {
	background-color: #dbdbdb;
	color: #524f4f;
	border-color: rgb(133, 130, 130);
}

/* Paragraph */
#par-showcase {
	background: #445069;
}

/* Calculator */
#calc-container {
}

#display {
	height: 50px;
	background: #dbdbdb;
	color: #000000;
	font-family: 'Digital-7';
	font-size: 20px;
}

#display-text {
	pointer-events: none;
	overflow-x: hidden;
	background: transparent;
}


.btn {
	color: #adadad;
	width: 40px;
	height: 40px;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

i{
	z-index: -1;
}
button{
	z-index: 1;
}